<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tubes.kouveepetshop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.ProductCustomerActivity"></activity>
        <activity android:name=".Activity.ServiceCustomerActivity" />
        <activity android:name=".Activity.TransactionServiceActivity" />
        <activity android:name=".Activity.TransactionProductActivity" />
        <activity android:name=".Activity.DetailTransactionProductActivity" />
        <activity android:name=".Activity.DetailTransactionServiceActivity" />
        <activity android:name=".Activity.DetailCustomerActivity" />
        <activity android:name=".Activity.DetailSupplierActivity" />
        <activity android:name=".Activity.DetailProductActivity" />
        <activity android:name=".Activity.EditSupplierActivity" />
        <activity android:name=".Activity.EditCustomerActivity" />
        <activity android:name=".Activity.DetailPetActivity" />
        <activity android:name=".Activity.EditPetActivity" />
        <activity android:name=".Activity.AddPetActivity" />
        <activity android:name=".Activity.AddSupplierActivity" />
        <activity android:name=".Activity.EditPetTypeActivity" />
        <activity android:name=".Activity.AddCustomerActivity" />
        <activity android:name=".Activity.PetTypeActivity" />
        <activity android:name=".Activity.AddPetTypeActivity" />
        <activity android:name=".Activity.PetSizeActivity" />
        <activity android:name=".Activity.AddPetSizeActivity" />
        <activity android:name=".Activity.EditPetSizeActivity" />
        <activity android:name=".Activity.PetActivity" />
        <activity android:name=".Activity.SupplierActivity" />
        <activity android:name=".Activity.ServiceActivity" />
        <activity android:name=".Activity.EditServiceActivity" />
        <activity android:name=".Activity.AddServiceActivity" />
        <activity android:name=".Activity.CustomerActivity" />
        <activity android:name=".Activity.MenuCustomerServiceActivity" />
        <activity android:name=".Activity.MenuOwnerActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.AddProductActivity" />
        <activity android:name=".Activity.EditProductActivity" />
        <activity android:name=".Activity.ProductActivity" />
        <activity android:name=".Activity.MenuCustomerActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>